# Obsidian folder notes
_*.md
*/_*.md
**/_*.md
**/.space/
*_*.md
*_.md
**_*.md
**_.md
Vault/*_.md
Vault/*_      # for folders ending in underscore


# Private notes
*.private.md

# Optional: ignore local metadata
.obsidian/
.cache/

# OS junk
.DS_Store
Thumbs.db
